[2020-08-11 06:04] nevion opened #5 "add an efficient bitshuffle cascade filter"
It is well known that lz family algorithms do very well on scientific data when bit-shuffle is applied (see HDF5, esp blosc shuffle implementations).  How about adding such a cascade option here?

Also how about a bit-exact floating point  delta cascade kernel?  Likely amounts to saving a residual term backed out of the prefix sum difference vs original value.  Could be interesting.

[2020-08-28 02:57] zmonoid opened #9 "Any plan to provide a python interface?"
As titled.

[2020-09-24 16:11] shauryapatel1995 opened #10 "Memory management after compression finishes"
According to the benchmarks our input is 400mb and the compressed size is 15mb? Do we free the rest of the output space or do we have to copy the memory and then perform an explicit free on the output space?
Looking forward to hearing from you!

[2020-09-24 23:12] nv-dlasalle commented on #10
@shauryapatel1995 You have three basic options:
1. Copy the compressed data to another location as you suggest (a smaller GPU allocation, host memory, etc.).
2. Re-use the left over space in the buffer for other operations.
3. Use the memory management APIs introduced in 10.2 to change the size of the allocation:
https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__VA.html#group__CUDA__VA

[2020-09-25 00:55] felipeblazing opened #11 "Questions about cascaded compression"
Is my understanding correct that the only algorithms that can currently be cascaded are RLE, Delta, and Bitpacking?

Is there plans to add dictionary and other algorithms?

Right now it seems you can't really specify how to compose the different schemes just specify the number of rles and deltas to conduct and whethe or not to perform bit packing.  Is there a plan of being able to compose these mo

[2020-09-25 02:12] shauryapatel1995 commented on #10
Hi @nv-dlasalle, thanks for the response. Just a quick follow up, does the compression not support float datatypes at the moment?

[2020-09-25 17:50] eglaser77 opened #12 "CPU compression/decompression implementations?"
Hi - are there CPU implementations available for compression/decompression? I.e. can I compress some data on the CPU, then copy the compressed data to the GPU and decompress it there? And vice-versa?

[2020-09-25 19:14] nv-dlasalle commented on #5
@nevion Thanks for the feedback.

Doing bit-shuffling for floating point is something we have discussed, but it's not likely to make it into the next release. For now, it is up to the client code to do any shuffling before compressing, and after decompressing (likely via kernels queued up on the stream).

The problem with doing the delta operation on floating point numbers (rather than just treati

[2020-09-25 19:16] nv-dlasalle commented on #9
This is not currently planned for our next release, but is something that is on our radar. What kind of objects are you thinking of compressing? Numpy arrays, tensors from a DL framework, etc.?

[2020-09-25 19:22] zmonoid commented on #9
@nv-dlasalle, tensor from DL framework.

Currently, most of large dataset in deep learning is in image format. The bottlenet of training speed for some algorithm is actually the dataloading time. If we can compress the image data and store them in GPU memory, and decompress image data during training, some algorithm's speed will be fly high.

[2020-09-25 19:25] nv-dlasalle commented on #11
You are correct, currently only RLE, Delta, and BitPacking are supported by the cascaded scheme, and their order is fixed based on the number of each.

Adding more compressions layers, and allowing for composing those layers in a an arbitrary tree, is something we hope to add in the future, but is not planned for the next release.

[2020-09-29 03:40] #10 closed

[2020-09-29 04:00] shauryapatel1995 opened #13 "GPU compression error"
I am trying to run to run compression on an integer array of size 4096 but getting an error for both LZ4 and Cascaded compression.
Here is an example of the code.

[code]

The error is
[code]

Facing a similar error with Cascaded compression with error code 10. Any help would be appreciated.

[2020-09-29 17:17] nv-dlasalle commented on #12
At this point we do not support CPU compression/decompression.

[2020-09-29 17:43] eglaser77 commented on #12
Thanks for the update - is this on the roadmap at all? And if so any idea on the estimated timeframe?

[2020-09-30 16:45] shauryapatel1995 opened #14 "Support for float datatypes"
Hi,
Is there any plan to support float datatypes with standard algorithms in the future?
I think currently support is restricted to int datatypes?

[2020-10-02 00:30] nv-dlasalle commented on #13
Our error message needs work, but the total returned for device memory imply an error occurred in `cudaMemGetInfo`, and I think it is the same error you're getting the temp space size `101`, which is `cudaErrorInvalidDevice = 101`. Can run `nvidia-smi` to see if your GPU(s) are functioning correctly?

Although I don't think it's a cause of the error, you're currently passing in 1 as your chunk siz

[2020-10-02 00:36] nv-dlasalle commented on #12
It is something we are aware of, but it is not currently on our road-map.

[2020-10-02 00:44] nv-dlasalle commented on #14
The best way to compress floating point data currently, is to use the LZ4 compressor, which operates at the byte level anyways:
[code]

It is unlikely Cascaded will provide much compression given how floating point numbers are represented, but it is still doable by casting to an equal width integer type:
[code]

[2020-10-15 14:53] shauryapatel1995 commented on #14
Makes sense, but can we add support for float data type natively anyway to not have to use this workaround, I am willing to contribute that if you guys are okay with it.

[2020-10-15 15:03] shauryapatel1995 commented on #13
This works now as suggested there as some issue with my nvidia driver installation. I reinstalled the drivers and that fixed that.

[2020-10-15 21:45] #13 closed

[2020-10-18 11:48] postsql opened #16 "make files with "error: KeyValuePair is not a template""
on Ubuntu 20.04

after running cmake

[code]
when trying to compile I get the following error:

[code]

with many more errors following

I am using CUDA as packaged with Ubuntu

[code]

[2020-10-18 13:39] postsql commented on #14
In https://blog.timescale.com/blog/time-series-compression-algorithms-explained/#floating-point-compression
they claim good floating-point compression performance via XOR-ing

[2020-10-19 16:53] nsakharnykh commented on #14
@postsql this is an interesting idea, thanks for sharing the link. I would consider XOR as a variant of Delta compression. It can help with floating numbers, but also may work well for some integer sequences. I suppose we can design a way to add it to the cascaded scheme.

[2020-10-28 14:07] felipeblazing commented on #14
Another way of compressing floating point data is using dictinoary encoding when the cardinality is low. If you dictionary encode the columns and the number of unique values is less than 65k  you can then bit pack the indices into the dictionary.

[2020-10-28 14:13] felipeblazing opened #17 "Dictionary Compression"
I mention it here https://github.com/NVIDIA/nvcomp/issues/14

But dictionary compression can be very helpful on columns with low cardinality and can even be used on floats if the cardiniality is sufficiently low. Back in the BlazingDB we would quite often use dictionary combined with other schemes (e.g. rle or bitpacking) to heavily compress some of the columns,.

[2020-10-28 14:17] felipeblazing opened #18 "Why do cascaded compessors have a type instead of just a size for fixed width columns"
When compressing data knowing the type can be helpful interms of determining the best compression plan to utilize but when you have a plan that you want to execute why does it care the type of data that is being compressed?

Having to specify the type prevents users from doing things like

[code]

[2020-10-28 14:18] felipeblazing commented on #18
Otherwise I end up having to rewrite alot of boiler plate code which is shared between these two compressors.

[2020-10-30 01:27] nv-dlasalle commented on #18
That makes a lot of sense, and I think should be do-able in the near term. If I'm understanding you correctly, what you would like to see is a C++ class closer to our C API, which takes in a type enum, rather than a template?

[code]

[2020-10-30 01:29] nv-dlasalle commented on #16
What version of thrust/cub do you have in /usr/include/thrust/system/cuda/detail/ ?

[2020-10-30 20:45] felipeblazing commented on #18
Yes that is inline with what i am thinking.
Since they have the same api that would allow me to write code that doesn't care what kind of compressor I have just knows that i can call compress_async on it!

[2020-11-03 11:52] postsql commented on #16
How do I find it out ?

in `/usr/include/thrust/version.h` it says `#define THRUST_VERSION 100905`

I could not find anything referring to version in `/usr/include/thrust/system/cuda/detail/cub/cub.cuh`

[2020-11-06 18:50] nsakharnykh commented on #11
@felipeblazing can this be closed now? I think you created other issues to track various suggested enhancements #17 #18

[2020-11-06 18:53] nsakharnykh commented on #9
+@kkraus14

[2020-11-06 19:45] #11 closed

[2020-11-12 16:24] ludvigak opened #19 "nvcompLZ4CompressAsync: Insufficient space for metadata"
When calling `nvcompLZ4CompressAsync` I get return code `nvcompErrorCudaError` and the message
[code]
but I'm having a really hard time figuring out what this means that I did wrong in my setup.

[2020-11-13 23:11] nv-dlasalle commented on #19
@ludvigak Can you show all of your calls to nvcomp for this?

[2020-11-16 09:17] ludvigak commented on #19
This was a mistake on my end - I had failed to see that `out_bytes` was used as both input and output, so I pointed out a zero-initialized value such that I could remember the maximum size given by `nvcompLZ4CompressGetOutputSize` that was used in allocation.

[2020-11-16 09:17] #19 closed

[2020-11-16 10:50] ludvigak opened #20 "liblz4 compability"
A nice feature would be the ability to use nvcomp to decompress data compressed using [liblz4](https://github.com/lz4/lz4), and vice versa, in order to have more flexibility when sending data between computers. It is presently not straightforward to figure out how to translate between the lz4 data format used by nvcomp and liblz4's block format or frame format.

Built-in support in the form of API

[2020-11-17 17:52] bkarsin commented on #20
This is a nice feature that would improve usability, but it is not currently planned for the short term.

It is not clear that this can easily be done due to the chunked approach that nvcomp uses for parallelization.  Nvcomp splits the input dataset into many small chunks, compresses them in parallel, and saves metadata for each.  Likewise, nvcomp can decompress efficiently on the GPU because the

[2020-11-17 18:31] ludvigak commented on #20
I see, thank you for the reply!

For what it's worth, the nvcomp chunks could probably be mapped to LZ4 frames:
https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md

[2020-11-20 19:50] bkarsin commented on #20
Thanks for pointing this out.  We will look into this and if it matches well, we will consider adding a translation tool or instructions in an upcoming release.

[2020-11-30 23:43] nv-dlasalle commented on #16
@postsql Sorry for my delay in getting back to you. I have been able to reproduce this via a docker container using the ubuntu version you describe.

I have yet to determine the root-cause yet (whether it is in cub 1.9.5 or in nvcomp), but for now a workaround is to use the cub 1.9.10 release from github (or upgrade to cuda11):
[code]

[2020-12-24 05:53] goodluckcwl opened #23 "Does it support to output the decompress data into the shared memory directly"
Does it support to output the decompress data into the shared memory directly?

[2021-01-05 15:50] nsakharnykh commented on #23
This is not possible today with the existing interfaces. All nvcomp functions are expected to be called from the CPU, and you need to provide input/output pointers to global or host memory that's accessible directly by the GPU. Device-side interface that would allow calling compress/decompress functions from within a GPU kernel would require a new set of APIs. @goodluckcwl do you have any specific

[2021-01-07 12:21] goodluckcwl commented on #23
I compress the data so that it can be stored in the global memory. The data will be decompressed when it is used. In such case, a device-side interface is more efficient. I use the cascaded compressor.

[2021-02-20 23:05] fengwang opened #25 "Feature Request: Python binding"
I would like to replace python lz4 with this GPU implementation. Is it possible to provide a python binding? Should be straightforward if the Python binding is implemented using libraries such as pybind11?

[2021-03-01 14:54] OverLordGoldDragon commented on #25
I would also like a Python interface.

[2021-03-07 14:05] advanced373 opened #26 "GPU Compression error"
I'm trying to run compression on an unsigned char*  but getting error for both LZ4 and Cascaded Compression. Here is the error for LZ4.
ERROR: In nvcompBatchedLZ4CompressGetTempSize(): Failed to get space for cub inclusive sub: 8
CHECK FAILED: /home/joeblack/nvcomp/src/LZ4.cpp:138
ERROR: In nvcompLZ4CompressGetTempSize(): API CALL FAILED : code=10.
terminate called after throwing an instance of 'n

[2021-03-11 10:39] #26 closed

[2021-03-17 16:35] nsakharnykh commented on #25
Thanks for the feedback, this was also requested previously in #9. This is definitely on our TODO list, but we're mostly prioritizing C/C++ implementation and performance optimizations at the moment. We would certainly welcome external contributions, and the python interface seems like a good fit for that - it would be somewhat isolated from the rest of the code and only touching the user-level C/

[2021-04-02 15:49] advanced373 opened #27 "Compression Error"
Hi,

I tried to run compress_async for 1000 files of about 100-200KB and I received this error ERROR: In nvcompBatchedLZ4CompressAsync(): Encountered Cuda Error: 700: 'an illegal memory access was encountered'. Anyone who encountered this problem?

Thanks,

[2021-04-02 19:17] nv-dlasalle commented on #27
@advanced373 Can you share more about this case here (e.g., the inputs you gave to all of the functions calls)? As well as information about your GPU, CUDA, and compiler versions. Thanks!

[2021-04-02 20:02] advanced373 commented on #27
NVIDIA GeForce GTX 1050, Cuda 11.3, Compiler 11.0.
Here is my code.
[file.txt](https://github.com/NVIDIA/nvcomp/files/6251088/file.txt)

[2021-04-06 18:46] advanced373 commented on #27
@nv-dlasalle can you help me with an opinion.? I'm working on a project that depends on GPU Compression and I want to know if the problem is my GPU. Thank you very much.

[2021-04-06 19:39] nv-dlasalle commented on #27
@advanced373 Sorry I haven't gotten back to you yet. In general, I think you're using the API correctly in that code snippet, though I haven't had the time to look at it rigorously. Your GPU I believe should work with nvcomp.

At this point, I would try simplifying the example to a single thread, as well as checking the return values of `cudaMemcpy` and `cudaMallocManaged` to ensure no errors are

[2021-04-06 19:50] advanced373 commented on #27
For some images, when compression size is higher than the uncompressed one, I received this error.  I found interesting that this problem is not always encountered. Here is the complete output received. Code is the following:

#include "cascaded.hpp"
#include "lz4.hpp"
#include <iostream>
using namespace std;
int getFileSize(FILE *in)
{
    fseek(in, 0, SEEK_END);
    int size = ftell(in);
    rew

[2021-04-07 18:26] advanced373 commented on #27
I have also another question. This library can be used in Windows?

[2021-04-07 22:01] advanced373 commented on #27
Hi,

I got this error.
LZ4CompressionKernels.cu:730: block: [0,0,0], thread: [31,0,0] Assertion `match_location < pos` failed.
ERROR: In nvcompBatchedLZ4CompressAsync(): Encountered Cuda Error: 710: 'device-side assert triggered': CudaUtils::copy_async(dst, src, count, kind, stream).
CHECK FAILED: C:\Users\mihai\source\repos\Nvcomp\Nvcomp\nvcomp\src\LZ4.cpp:187

Thanks,

[2021-04-07 22:15] nv-dlasalle commented on #27
@advanced373 Thanks for providing more details. This looks like a bug in our code. Are you able to share the file/data which you were compressing that resulted in this error? Thanks!

[2021-04-07 22:20] advanced373 commented on #27
Sure. This is my code.
#include <cascaded.hpp>
#include <lz4.hpp>
#include <iostream>
#include <driver_types.h>
#include <cuda_runtime.h>
using namespace std;
int getFileSize(FILE* in)
{
    fseek(in, 0, SEEK_END);
    int size = ftell(in);
    rewind(in);
    return size;
}
int main(int argc, char** argv)
{
    FILE* in = fopen(argv[1], "rb");
    if (in == NULL)
    {
        cout << "Error in r

[2021-04-08 00:20] nv-dlasalle commented on #27
@advanced373 I managed to track down the bug to our workaround for emulating `__match_any_sync()` on Pascal. It looks like I introduced this bug a few months ago, and unfortunately our testing has been focused on architectures after Pascal and missed this.

Here is a patch for you to test out until we get a new version out with this fix. Thanks for finding this issue!
[code]

[2021-04-09 06:28] nv-dlasalle commented on #27
@advanced373 This should be fixed in the latest version now (https://github.com/NVIDIA/nvcomp/releases/tag/v1.2.3). Please let me know if see any more issues. Thanks!

[2021-04-09 06:28] #27 closed

[2021-04-28 07:59] xavirostudio commented on #9
Most of the images for training aren't stored as bitmap (RAW), the bottleneck is actually due to the fact that the images are decompressed into RGB on CPU and converted to tensors before being sent to GPU. In theory it should be possible to load the image file onto GPU and decode it using GPU.

Check nVidia's DALI - https://docs.nvidia.com/deeplearning/dali/user-guide/docs/examples/image_processin

[2021-04-30 22:01] oscarbg opened #28 "nvcomp 2.0 release?"
there is a new blog post, saying it's already available:
https://developer.nvidia.com/blog/nvcomp-v2-0-0-now-available-with-new-compressors/

[2021-05-02 15:43] fwyzard commented on #28
Looks like the full nvCOMP 2.0 library is no longer an open source project.
From the [nvCOMP NVIDIA Developer page](https://developer.nvidia.com/nvcomp):

[2021-05-02 17:31] nv-dlasalle commented on #28
@oscarbg My apologies for the confusion this has caused. We're still working on fixing a few bugs discovered at the last moment before pushing out release 2.0. We should have it here on github in the next few days.

@fwyzard For the 2.0 release, we are adding support for two new proprietary compressors and a new open source compressor. The existing compressors' implementations (LZ4 and Cascaded) r

[2021-05-04 03:54] nv-dlasalle commented on #28
The 2.0 release has now been pushed. Sorry for the delay!

[2021-05-04 03:54] #28 closed

[2021-05-05 08:28] zmonoid commented on #9
@xavirostudio Maybe I have not made my self clear.
I mean, the whole image dataset (in comopressed form) is preloaded onto GPU memory before training (not one batch). Therefore, during training, there is no host to gpu time.

[2021-05-05 09:26] xavirostudio commented on #9
ImageNet has over 1 mil images and it's tgz archive is ~150GB - so it would obviously not fit in any GPU memory any time soon.

Even using a smaller dataset, it would be a waste of GPU memory to load it all in GPU. The more GPU memory you have the bigger the batch size could be or the more parameters the "model" could have.

Keep in mind that during training the GPU memory is heavily used for stor

[2021-05-05 09:46] zmonoid commented on #9
@xavirostudio Thanks for you explaination.

In deep reinforcement learning scenario, both network size and batch size is quite small, so GPU memory usage is quite small, and the bottlenet is at host to gpu memory time from my analysis. If there exists GPU data compression/decompression operator, the whole replay memory be stored in GPU, DRL algorithm's training speed will be much higher.

I believ

[2021-05-05 11:04] xavirostudio commented on #9
@zmonoid sorry but I don't have much expertise in RL. I thought that most RL engines already use GPU to generate and store the environments - hence there wouldn't be a data transfer to GPU from host. If that's not the case I would look into having the "Environment" engine ported to GPU ;-)

On other cases of small network / batch-size the "data loader" should compensate by pre-loading the batches

[2021-05-06 04:08] josemonsalve2 opened #31 "Add all dependencies in the docs"
Hi,

First, I would like to thank you for the most recent additions of compression algorithms.

I was finally able to compile the repo again, but it took me a while since my system did not have the [LZ4 lib](https://github.com/lz4/lz4) or the [Zlib](https://zlib.net/). Also, for some reason the CMake flag `NVCOMP_EXTS_ROOT` was not enough.

I build the dependencies by hand and added the flags `ZLI

[2021-05-07 10:48] devavret opened #32 "CMake improvements for use in other projects"
In order to use external projects in cuDF, certain improvements to CMakeLists are needed/desired.
1. An install target.
2. Using build interface to install include directory
3. Make including/linking CUB, bitcomp, and gdeflate private
4. Guard tests, benchmarks, and examples so that they can be turned off and are not built when included by another project.

CC @robertmaynard.

[2021-05-09 16:24] carsonswope opened #33 "Python bindings implemented"
Looks like a couple people have requested python bindings. I came here to do the same a couple days ago, and figured I'd give it a try myself.

I've managed to implement bindings for CascadedCompressor and CascadedDecompressor at https://github.com/carsonswope/py-nvcomp. I plan to implement the other high-level compressor types at some point as well.

It's my first time writing c++ bindings for py

[2021-05-11 00:26] nv-dlasalle commented on #31
@josemonsalve2 Can you post the errors you encountered with cmake when trying to build without lz4 and zlib?

[2021-05-11 03:30] oscarbg commented on #28
Hi,
just a question, I'm downloading "nvCOMP extensions" and don't see a Windows x64 download.. it's expected Win platform to be supported for exts eventually?
thanks!

[2021-05-11 15:15] kkraus14 commented on #33
Hi @carsonswope thanks for jumping in and giving this a shot!

Generally, I would recommend not using the Python C API directly for bindings to a C/C++ library (especially a C++ library). While it gives you the lowest level of control, implementing things like error handling, conversion between trivial Python types and C++ types, and other things become much more difficult. Additionally, using the

[2021-05-12 18:09] josemonsalve2 commented on #31
Sure thing.

Here are some outputs:

[code]

Then we fix that one with `-DNVCOMP_EXTS_ROOT=` as mentioned in the instructions. But LZ4 library is not found

[code]

To allow building the LZ4 compiler, I had to use `-DLZ4_INCLUDE_DIR=` and `-DLZ4_LIBRARY=`

[code]

On anther system I did not have Zlib so I used `-DZLIB_ROOT=`. But for some reason I cannot reproduce one of my previous errors related

[2021-05-12 20:04] nv-dlasalle commented on #31
@josemonsalve2 Thanks for posting the log.

Those warnings for the examples are expected, but are not related to nvcomp itself, as it does not depend on lz4 or zlib. As you have pointed out, we need to do a much better job messaging this in our cmake files, as well as make it clear in the documentation. We will also be making the examples, tests, and benchmarks not be built by default in future re

[2021-05-12 23:16] carsonswope commented on #33
Hey @kkraus14 thanks for taking a look..

Per your suggestion, I re-implemented the bindings using Cython and pushed the changes up to my repo. It's definitely much cleaner now than when using the Python C API - just reads like some simple boilerplate now instead of a huge mess of C. Although I'm still a little unsure about how I'm casting python numbers to c pointers.

[2021-05-12 23:30] kkraus14 commented on #33
Generally the approach I've seen is to do Python integer --> `uintptr_t` --> `void *`. In a library I help to maintain, we do this like so:
- Get the Python integer representing a pointer as a `uintptr_t`: https://github.com/rapidsai/rmm/blob/branch-0.20/python/rmm/_lib/device_buffer.pyx#L257
- Convert the `uintptr_t` to a `void *`: https://github.com/rapidsai/rmm/blob/branch-0.20/python/rmm/_lib/

[2021-05-13 01:15] carsonswope commented on #33
Okay, that makes sense.

What do you suggest for, for example, the `out_bytes` argument to `CascadedCompressor.compress_async`. From my testing, it will accept either a device or host pointer (page locked or not): https://github.com/NVIDIA/nvcomp/blob/9ff05699c87cce9568f019d555cbb3677593ed1c/include/nvcomp.hpp#L110

Should the corresponding function in the `.pyx` file check which interface the `ou

[2021-05-13 02:06] josemonsalve2 commented on #31
That sounds great. I appreciate your quick response.

[2021-05-15 01:30] josemonsalve2 commented on #31
Hi,

I was able to reproduce the problem with libz in a different system

[code]

[2021-05-15 01:55] josemonsalve2 commented on #31
NVM, the problem was not with libz, it was with gdeflate. But it was because the `-DNVCOMP_EXTS_ROOT` must be an absolute path.

[2021-05-28 20:31] jlowe opened #34 "nvcompDecompressIsTypeSensitive declared with no implementation"
nvcomp.h declares the `nvcompDecompressIsTypeSensitive` function but it is not defined anywhere.

[2021-06-01 17:20] nv-dlasalle commented on #12
@eglaser77 The 2.0 interface support compressing and decompressing raw LZ4 blocks (but not LZ4 frames), which is compatible with CPU based implementations.

See https://github.com/NVIDIA/nvcomp/blob/main/examples/lz4_cpu_compression.cu for an example.

[2021-06-01 17:20] #12 closed

[2021-06-01 17:21] nv-dlasalle commented on #20
While we don't support LZ4 frames (due to the inherent serial dependency), we now support LZ4 blocks from the CPU based compressor. See https://github.com/NVIDIA/nvcomp/blob/main/examples/lz4_cpu_compression.cu for an example.

[2021-06-01 17:21] #20 closed

[2021-06-11 09:07] jonwright commented on #5
I would be very happy to find some more efficient bit-shuffling kernels too! I made some attempts for very specific cases (reading 8, 16, 32 bit in 8192 blocksizes of data that come from [bitshuffle](https://github.com/kiyo-masui/bitshuffle)).  My attempts are [here](https://github.com/jonwright/bslz4decoders). To get something to run from python and process the data batches coming from hdf5 I end

[2021-06-28 19:59] chuckseberino opened #35 "Snappy decompression doesn't provide uncompressed size"
The current implementation of `nvcompBatchedSnappyDecompressAsync` doesn't allow retrieval of the actual size of uncompressed bytes. The code [here](https://github.com/NVIDIA/nvcomp/blob/main/src/SnappyBatch.cpp#L99-L103) sets a nullptr as the input to `gpu_unsnap`. I naively thought that `device_out_bytes` would be updated, but apparently not.

How would one know the original, uncompressed size o

[2021-06-29 12:43] nsakharnykh commented on #35
Hi @chuckseberino, we’re in the process of updating the 2.0 API to have a way to output the uncompressed size. Please stay tuned and look for a new dev branch with the changes over the next month.

[2021-07-24 21:36] emelrad12 opened #38 "Lz4 compressor, uses too much shared memory reducing occupancy by 50%."
I assume you probably only performance tested the A100, and saw that there is no issue there, but on my 2070s, its occupancy is reduced by 50%.

I read the source code and it seems to be hardcoded.

Attached Nsight compute report (zipped cause GitHub doesn't allow such file extensions.
[1.zip](https://github.com/NVIDIA/nvcomp/files/6873084/1.zip)

[2021-08-02 16:24] benjha opened #39 "Unified memory in nvcomp question"
Hi nvcomp team,

Does nvcomp uses cuda unified memory or any other mechanism to deal with files larger than GPU memory ?

Thanks,

[2021-08-02 17:25] nv-dlasalle commented on #39
Hi @benjha,

nvCOMP does not allocate GPU memory itself, and instead relies on the calling code to allocate GPU memory. There are several requirements that different memory passed into the API is accessible either from the CPU or GPU. You can pass in unified memory to these APIs and they will work fine. You may see decreased performance if page migration needs to take place (as is generally the ca

[2021-08-02 17:31] nv-dlasalle commented on #38
@emelrad12 Thanks for reporting this--we'll take a look.

[2021-08-02 17:33] nv-dlasalle commented on #34
This was removed in 2.0.1.

[2021-08-02 17:33] #34 closed

[2021-08-02 17:34] nv-dlasalle commented on #32
These were added in 2.0.0.

[2021-08-02 17:34] #32 closed

[2021-08-02 20:16] benjha commented on #39
Yes, thanks!

[2021-08-02 20:16] #39 closed

[2021-08-25 18:35] devavret opened #40 "Snappy decompressor unable to decompress chunk"
NVComp's snappy decompressor in branch-2.1-dev is unable to decompress the attached chunk. The last 40 bytes are unwritten.

[problem_piece.snappy.zip](https://github.com/NVIDIA/nvcomp/files/7048601/problem_piece.snappy.zip)

[2021-09-01 07:09] lixiaolx opened #41 "Support gzip-related compression and decompression function"
I am very glad that you have pushed the file compression and decompression to an independent development library, which has been supported (Cascaded, Snappy and LZ4), and the effect is great from the current data.

I have a question. From the point of view of function implementation, there is currently no support for gzip-related functions?
Why is it currently not supported? (Poor performance?, mo

[2021-09-10 13:58] nsakharnykh commented on #40
Fixed with 3a12516afdeab4ace01298031757f84b8dda81b7

[2021-09-10 13:58] #40 closed

[2021-09-16 09:36] Manoj-red-hat opened #42 "Concurrent compression kernels"
Hi All,

I have problem like:-

Stream of K threads which are running on CPU, intermediately they require compression/decompression.

I was thinking of leveraging the GPU for this comp/decom problem.

 But the point is I need K kernel to handle K threads, just wondering
What would be the resource requirement for this nvcomp, if I need to plan say 8 concurrent kernels ?

Thread 1---------com---dec-

[2021-10-01 15:59] pkoosha opened #43 "Requested clarifications on type of compression for supported methodss"
Hi,

I am a bit lost which methods are lossy and which ones are lossless. Another question is that if all of them support double precision data compression or not. Could you please provide some info about them?
Also, what is the compression throughput for each type?

Thanks,
Pouya

[2021-10-01 21:27] nsakharnykh commented on #43
Hi Pouya, all methods are lossless. README contains a compression throughput chart for cascaded, LZ4 and Snappy. We’ll be updating perf charts soon with more recent results.

[2021-10-04 16:09] pkoosha commented on #43
Thanks for the comment. So the file you have CPU in their name like "gdeflate_cpu_compression", do they run on CPU or GPU? I am very confused by the naming of it.

[2021-10-06 17:24] nv-dlasalle commented on #43
That example performs the compression with the CPU, then copies the data to GPU memory, and uses the GPU to decompress it.

The LZ4 examples are similarly named, where the CPU is used to compress the data and the GPU decompresses the data (https://github.com/NVIDIA/nvcomp/blob/main/examples/lz4_cpu_compression.cu) or vice versa (https://github.com/NVIDIA/nvcomp/blob/main/examples/lz4_cpu_decompres

[2021-10-06 17:26] pkoosha commented on #43
Thanks for the clarification. I was wondering if there are any benchmarks that uses GPU for both compress and decompress?
Could you explain why the GPU is not used for compression?

[2021-11-22 14:17] chenrui17 opened #46 "[QST] Do we support row-based file compress/decompress ?"
Such as  a txt file which is compressed by zlib ,and i want to decompress it with gpu , can i finish it use nvcom ?

[2021-11-30 20:21] mnicely commented on #35
v2.1 has been released. @chuckseberino do you mind checking if it solves your issue?

[2021-11-30 20:22] mnicely commented on #46
Just to make sure we understand. Are you asking if you can compress using `zlib` on CPU and decompress using `nvCOMP` on GPU?

[2021-11-30 20:29] mnicely commented on #42
What you're asking would be handled by the CUDA framework. Each CPU thread would create a separate CUDA context and each CPU thread would launch nvCOMP kernels on that CUDA context. The GPU will handle context switching at resources become available. I suggest you google CUDA + Multiprocessing.

[2021-12-01 06:16] fwyzard commented on #42
My understanding is that using multiple CUDA contexts on the same device is inefficient, because [operations from different contexts cannot run concurrently](https://forums.developer.nvidia.com/t/multiple-cuda-contexts-per-device-in-a-single-process/42429/2).

Rather than using multiple contexts, I would suggest creating [one CUDA stream per thread](https://developer.download.nvidia.com/CUDA/train

[2021-12-01 06:58] chenrui17 commented on #46
yes, it seems that we cannot speed up decompress an entire large gzip file on GPU which is compressed used `zlib` in cpu.

[2021-12-01 15:01] mnicely commented on #42
While it's not optimal because of overhead, every application is different. And if you have activate [MPS](https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf) (Multi-Process Service) contexts can run concurrently on Pascal+ HW.

Unless you pass around a CUDA context using the Driver API, a new context will be created by each thread. The slides you reference don't discuss co

[2021-12-01 22:36] fwyzard commented on #42
In my opinion using multiple streams instead of multiple contexts should be easier (CUDA runtime vs driver API), simpler (no need to try and recover some performance with MPS) and faster.

Anyway, these are just suggestions for @Manoj-red-hat .

[2021-12-01 22:39] fwyzard commented on #42
Mhm, I don't think so, but of course I can be wrong: can you point to any documentation in this regard ?

[2021-12-02 16:44] mnicely commented on #42
This is very true, but if use case consists of multiple CPU threads trying to compress/decompress multiple files simultaneously multiple streams within a single CPU threads won't work.

@Manoj-red-hat I believe there's enough information here to answer your questions. I'm going to close, feel free to reopen if you have more questions.

[2021-12-02 16:44] #42 closed

[2021-12-06 22:05] abc99lr opened #47 "Optimization for bit-packing decompression kernel"
The bit-unpacking kernel (decompression for bit-packing) could be further optimized. ([link to kernel](https://github.com/NVIDIA/nvcomp/blob/main/src/unpack.h#L47))

There is an extra loading from `byte_data` to `scratch`, which is in local memory. This loading is redundant and by removing this extra loading, I saw about a 37% perf increase on the kernel on my test on A100. Note that my kernel is

[2021-12-06 22:05] abc99lr commented on #47
@nsakharnykh for assigning

[2021-12-07 00:51] #47 closed

[2021-12-23 21:13] limitz opened #48 "[FEA] Support Bitcomp on Jetson"
I would like to be able to use Bitcomp on the Jetson Xavier AGX, but I can only find the download for x86_64. Is that possible?
Ideally I would like to install and run nvcomp and the proprietary compression algorithms on the Jetson. If this requires some kind of license I am still interested.

I tried some of alternative compression methods, but Bitcomp seems to be the only algorithm that makes a

[2021-12-31 15:02] quasiben commented on #33
Still interested in this topic

[2022-01-19 16:36] BarabashkaD opened #51 "[BUG] Can't be compiled on Windows"
1) CMake file can't be configurate
CMake Error at CMakeLists.txt:186 (install):
  install FILES given no DESTINATION!

2) after fixing first issue by adding slash ${CMAKE_INSTALL_INCLUDEDIR}/
still can't be compiled because of error on all .CU files
1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30133\include\xutility(1309): error : expected a "("
1>          d

[2022-01-28 01:01] nsakharnykh commented on #48
We’re planning to release binaries for Jetson in 2.3 release

[2022-01-28 01:04] nsakharnykh commented on #51
A lot of Windows build issues will be fixed in 2.2 release - please retry then and let us know if the issue still exists. We will be also shipping Windows binaries starting from 2.2.

[2022-01-28 01:07] nsakharnykh commented on #41
@lixiaolx we’re planning to add gzip/deflate compression and decompression in one of the future releases, please stay tuned!

[2022-01-28 02:27] lixiaolx commented on #41
OK, I'm very glad that you support gzip related operations, I'm looking forward to it

[2022-02-07 16:09] mnicely commented on #43
We removed the benchmarks he's referring to and now just have a benchmark for LLIF / HLIF

[2022-02-07 16:09] #43 closed

[2022-02-07 16:10] mnicely commented on #16
We require CUDA >= 10.2

[2022-02-07 16:10] #16 closed

[2022-02-07 16:11] #35 closed

[2022-02-07 20:47] sbates130272 opened #52 "[FEA]"
Add a Dockerfile to the repo to assist in the building of the nvcomp library and benchmarks. Given the interdependencies on gcc, CUDA and distro this would be a useful addition to the repository.

A Dockerfile in a docker subfolder that builds nvcomp (including the extensions).

I'll work up a RFI PR for this for discussion.

[2022-02-09 22:38] sbates130272 commented on #52
I submitted a draft PR for this just to get some initial feedback on interest. LMK what you think and I can take the feedback and work on a full PR if there is interest.

[2022-02-18 15:58] #51 closed

[2022-02-21 03:23] lilohuang opened #55 "[BUG] nvcomp (bitcomp) doesn't work on P100 (sm60) GPU"
**Describe the bug**

The [nvcomp minimum requirement](https://github.com/NVIDIA/nvcomp#requirements) is Pascal (sm60)+ and only GDeflate requires Volta+. However, I got the below error when I run the **bitcomp_test** on a CentOS 7 machine (P100, CUDA driver 460.32.03).  The **bitcomp_test** is shipped with **nvcomp_exts_x86_64_ubi7-2.2.tar.gz** from [NVIDIA website ](https://developer.nvidia.com/

[2022-02-25 11:42] ucasfl opened #56 "[QST] Compress on CPU then decompress on GPU, and compress on GPU then decompress on CPU"
**What is your question?**
Hi, currently, I need to to a work like the issue title descripted, and I just use LZ4 algorithm. But I found something very strange, for example, the compressed output size with nvcomp is a little larger than the compressed output size with https://github.com/lz4/lz4 for same data(100 bytes in my test), I get the compressed output size with method `nvcomp_manager.get_co

[2022-02-26 03:31] ucasfl commented on #56
I found there is a common header in the beginning of the compressed buffer, from the common header, I can get the compressed data size, but the data size is still four bytes larger than the compressed data size by lz4, I don't know why.

[2022-02-26 10:53] ucasfl commented on #56
Because there are `LZ4FormatSpecHeader` after common header.

[2022-02-26 14:15] ucasfl commented on #56
How can I copy all the compressed data without metadata like headers?

[2022-02-28 03:28] ucasfl commented on #56
Looks like the algorithm LZ4 implement is different from https://github.com/lz4/lz4, because for the same data, I checked the   compressed output data both of them, and they are different.

[2022-02-28 19:45] nv-dlasalle commented on #56
@ucasfl LZ4 on the GPU will produce different compressed output as it has a different algorithm for finding matches. Were you finding that data compressed on the GPU was not decompressible correctly the CPU lz4 implementation?

[2022-03-01 02:13] ucasfl commented on #56
Yes.

[2022-03-01 02:15] ucasfl commented on #56
Currently, I following the lowlevel api in `lz4_cpu_compression.cu` and `lz4_cpu_decompression.cu` can do compress and decompress between CPU and GPU.

[2022-03-01 02:18] nv-dlasalle commented on #56
Thanks @ucasfl, this sounds like a bug. Can you provide information such what dataset you see this on, the CUDA version, the host compiler version (e.g., gcc 9.3.0) and on what GPU?

[2022-03-01 02:26] nv-dlasalle commented on #56
See here for the LZ4 block: https://github.com/lz4/lz4/blob/dev/doc/lz4_Block_format.md
and here for the LZ4 frame: https://github.com/lz4/lz4/blob/dev/doc/lz4_Frame_format.md

[2022-03-01 02:29] ucasfl commented on #56
OK, thanks

[2022-03-01 02:32] #56 closed

[2022-03-01 12:36] XLzed opened #57 "[QST]Is the max_compressed_buffer_size in CompressionConfig correct?"
**What is your question?**
I follow the high_level_quickstart_example and try to use high level api , but I find that the value returned by `get_compressed_output_size()` is larger than `max_compressed_buffer_size `in `CompressionConfig`. This always happens when the chunk_size is equal to input_buffer_len. When I want to copy compressed data from device to host according to compressed_output_size

[2022-03-10 12:28] XLzed commented on #57
**The Code I test:**
[code]
**Outputs:**
[code]
Actual compressed size is larger than max_compressed_buffer_size, and it made the cudaMemcpy fail.

**The function calculates the max compressed output size:**
[code]
**The function do_compress() in class BatchManager:**
[code]

The function calculate_max_compressed_output_size() does not take into account the offset caused by address alignment.

[2022-03-11 21:32] ser-mk opened #58 "[QST] Strange behavior with cascade batch compressor"
I have found some of datasets can’t be compressed or converted using batch nvcomp compressor without a runtime error.
This is the case for a sequence of integers that doesn't compress well. Let’s see
I got [test_cascaded_batch.cpp](https://github.com/NVIDIA/nvcomp/blob/v2.2.0/tests/test_cascaded_batch.cpp) and make [minimal example ](https://github.com/ser-mk/nvcomp/blob/v2.2.0_test/tests/test_bat

[2022-03-14 22:51] ser-mk opened #59 "[BUG] The Cascade bitpack can’t compress unsigned integers with a value greater than the maximum signed value"
### **Describe the bug**
The cascaded bitpack layer can’t compress unsigned integers where one part of the integers is less than the signed maximum value and the other part is greater than the signed maximum value.

### **Steps/Code to reproduce bug**
For example I got [test_cascaded_batch.cpp](https://github.com/NVIDIA/nvcomp/blob/v2.2.0/tests/test_cascaded_batch.cpp) and make minimal examples
ht

[2022-03-15 01:30] ser-mk commented on #59
Note:
The similar behavior  has been repeated for  Cascade C API (already deprecated for tag v2.2.0) https://github.com/NVIDIA/nvcomp/blob/v2.1.0/include/nvcomp/cascaded.h

Example
https://github.com/ser-mk/nvcomp/blob/v2.1.0_issue/tests/test_delta_bp_unsinged_type.cpp

In the example, I try to compress the non sorted integers:
0,1,2,1,4,5,6 ….
using by the Deltas and BitPacking layer

At first, i

[2022-03-24 11:22] ser-mk commented on #59
For more effective compressing the wide range integers I would suggest  to improve a bitwidth.  Currently,  to calculate the bitwidth of input integers the library handle the integers as a sign type only https://github.com/NVIDIA/nvcomp/blob/v2.2.0/src/CascadedKernels.cuh#L384
because  the maximum/minimum values of the input integers was calculated for a sing type once.

If we calculate the maximu

[2022-03-26 02:40] lilohuang commented on #55
Any feedback from nvcomp maintainer? This issue shouldn't be ignore. Thanks.

[2022-03-30 23:34] ndickson-nvidia commented on #58
Thanks so much for reporting this!  Sorry that it took a little while to reply.  The out of bounds access is due to a mistake in the test_cascaded_batch.cpp file.  It shouldn't be implementing its own `max_compressed_size` function, but should instead be calling the `nvcompBatchedCascadedCompressGetMaxOutputChunkSize` API function.  Using that function, the max compressed size is 248 bytes, so it

[2022-04-05 14:35] Rolariali commented on #58
Thanks for your answer! Your pretty explain this case!

[2022-05-10 23:25] iomartin opened #60 "[QST] Decompress one input buffer into multiple output buffers"
I'm using the C batched API in a program I'm writing. I have some input that I split into multiple batches, compress, then copy the different compressed chunks back to a contiguous host buffer. This is working as expected.

The problem is when I later try to decompress this data. I no longer know when each of the compressed chunks starts and ends, as they are part of a contiguous buffer. Also, I d

[2022-05-11 04:48] akshaysubr commented on #60
This is exactly what the high lever interfaces (HLIF) are for. It essentially does the input chunking, compacting compressed buffers and storing additional metadata in the compressed stream itself. The HLIF decompressor can then read this metadata and then know how to decompress that compacted stream to a contiguous decompressed buffer.

Here's a link to the high level quickstart doc:
https://gith

[2022-05-11 20:41] iomartin commented on #60
Thanks, I switched my code to use the HLIF and it is working as expected :)

[2022-05-11 20:41] #60 closed

[2022-05-16 15:22] #58 closed

[2022-05-16 19:54] ser-mk opened #61 "[FEA] New Delta encoding scheme"
In the act of solving my task, I came across an interesting compress solution for integer sequences with large periodic gaps. It becomes easier to visualize the data:
![my_data](https://user-images.githubusercontent.com/6123791/167042071-b3704ab1-66ad-4b53-bb40-603986e1f471.png)
`[40, 56, 41, 60, 88, 90, 82, 2, ….]`

Though I was unable to find any information on what this is. If someone know's mo

[2022-05-17 18:08] iomartin opened #62 "[QST] What algorithms have CPU compression?"
I want to provide a SW fallback option to my nvcomp-based application and I was wondering which algorithms have a CPU implementation.

The examples show Gdeflate and LZ4 only and I couldn't find code for the others, but I wanted to check first.

And if I compress something with the high level interface, will I be able to decompress with the CPU implementations and vice-versa?

[2022-05-19 17:17] quasiben commented on #33
I think we can close this as binding are now available in kvikio: https://github.com/rapidsai/kvikio/pull/24

[2022-05-19 22:45] ser-mk opened #63 "[BUG](Cascade) The Lib does not check the data type of the input data"
**Describe the bug**
When decompressing the Cascaded Manager gets the data  type from [arguments which passed to its constructor.](https://github.com/NVIDIA/nvcomp/blob/a6e4e64a177e07cd2e5c8c5e07bb66ffefceae84/src/highlevel/CascadedManager.hpp#L134) Seems It would be far more logical to compute the data type of the input stream because the Cascade compressor stores the data type in compressed stre

[2022-05-24 15:14] #48 closed

[2022-05-27 00:23] CupidLiuTian opened #64 "[QST] Run Benchmarks"
Hello, when i complie the benchmarks from the project who clone from the github, the package bitcomp,ans and GDeflate are not founded, this situation lead to some test programs are not build, such as benchmark_bitcomp_chunked and benchmark_ans_chunked.So where can i get the package gdeflate,bitcomp and ans. Or How can i build the complete project.Thanks!

[2022-05-28 00:00] ndickson-nvidia commented on #59
Thanks so much for reporting this, and sorry that it took a while to reply!  We have a fix for this, but it probably won't be in place until nvcomp 2.4.

The code for determining the frame of reference for the bit packing was always using a signed type, even for unsigned input data types, since that's what's usually most useful for if there's at least one delta encoding pass, but as you found out,

[2022-05-28 00:02] #59 closed

[2022-05-31 06:31] CupidLiuTian commented on #31
Hello, i has the similar question with you , i  get the extension file to my server and add '-DNVCOMP_EXTS_ROOT=' to cmake,the result is that the cmake procedure still warn can not find gdeflate,bitcomp and ans.detail info as follow:
cmake -DNVCOMP_EXTS_ROOT=/home/test/liutian/external -DBUILD_BENCHMARKS=ON -DBUILD_EXAMPLES=ON -DBUILD_TESTS=ON -DCMAKE_INSTALL_PREFIX=/home/test/liutian/libnew ..
Re

[2022-05-31 12:42] mnicely commented on #64
With nvCOMP v2.3, all compressors can be downloaded from [DevZone](https://github.com/NVIDIA/nvcomp#download).

You can still clove v2.2 from GitHub, but Bitcomp, ANS, GDeflate are only availabe on DevZone.

[2022-06-06 05:09] CupidLiuTian commented on #64
Thanks for your reply.Noew i get the extension of gdeflate,bitcomp and ans from the dev history version of v2.2, i can build all the benchmarks and test program. But when i run the benchmark_hlif with cascaded and the input file was larger,this will occur an error which tell me cudaStreamSynchronize(stream)" with 700.  Also when i used the version 2.3 and run the same benchmark who does not occur

[2022-06-06 16:40] shreer1998 opened #65 "[QST] Why isn't there an API to decompress data as one single chunk ? (ZSTD)"
I could see that the current API to decompress the data compressed by ZSTD is nvcompBatchedZstdDecompressAsync.
Are there any plans to provide an API to decompress data as one single chunk (entire data is one single batch) ?
If yes, when can we expect it and if it's no, plans what's reason behind it ?

[2022-06-06 20:07] AndreiArdei opened #66 "[QST] Running a benchmark on multiple GPUs"
My intention is to run a benchmark using multiple GPUs. In my case, I have 4xA4000 cards. If I run any of the benchmarks, they will use only one video card at a time instead of splitting the load over multiple cards. the -g setting of the benchmarks only allows me to select which GPU to be run on. So the question is :

Is it possible to split the load of a benchmark over multiple GPUs at the same

[2022-06-11 12:25] mnicely commented on #64
I'm not aware of any bugs related to that functionality.

[2022-06-11 12:25] #64 closed

[2022-06-11 12:27] mnicely commented on #62
nvCOMP doesn't offer, or officially support, any CPU implementation. You will need to use some other form, whether OSS or commercial for a solution.

[2022-07-06 20:18] nsakharnykh commented on #65
@shreer1998 do you have a use case for the single chunk decompression on the GPU? For zstd or other formats. Please let us know. So far we’ve been focusing on supporting Apache Parquet/ORC type of files that usually have many chunks, so we’ve been prioritizing the batched interface.

[2022-07-25 23:05] wanfuse123 opened #67 "zswap and zram facebook multithreaded zlib and converting to nvcomp"
Hi!
I have gotten my system to run lz4hc multithreaded compression and decompression on my cpu using facebook's zlib implementation (which is multithreaded) , however I am thinking this might be even better if nvcomp was used to multithread the compression and decompresssion on the video card instead.

I read some science papers that indicated it might have a 2.5 to 3x boost over performing it on

[2022-08-02 18:13] Shamazo opened #68 "[QST] Selecting Cascade parameters"
[This blog post ](https://developer.nvidia.com/blog/optimizing-data-transfer-using-lossless-compression-with-nvcomp/)from December 2020 has these sentences:
[code]

Was this auto-selector ever released? and if not, how can I determine the best Cascaded compression configuration for my dataset?

Thanks

[2022-08-25 00:13] wanfuse123 commented on #67
Didn't get an answer in time. No longer needed.

[2022-09-11 23:11] technillogue commented on #9
:+1:, I have scale-to-zero inference and this could speed up cold starts significantly since they require moving large models

[2022-09-19 13:16] selvaraj-sembulingam opened #69 "[QST]"
How to compress a folder that has mulitple files using nvcomp and save the output as a compressed file. Also how to decompress that compressed file and save it using nvcomp ?

[2022-10-11 08:30] fwyzard commented on #41
Just a ping to keep the issue open...

I'd be very interested in seeing a zlib implementation, especially an open
source one.

[2022-10-13 09:09] hsioamin opened #70 "[QST] Why GPU version of Zstd is slower than CPU version of Zstd"
[configuration]
CUDA Version: 11.4
OS in Docker container: Ubuntu 20.04.2 LTS
GPU card: A10 x 1
CPU: AMD EPYC 7413 24-Core Processor
Tensorflow version: 2.5.0+nv
nvcomp binary version: nvcomp_2.4.1_x86_64_11.x

[testing data]
image data size: 675 x 78

[Zstd decompression time]
On CPU (Meta API): 0.000069 s
On GPU (nvcomp API): 0.000038 s

[problem description]
I'm creating a Tensorflow custom OP

[2022-10-14 06:34] johnnynunez opened #71 "Deep Learning"
I think that would be interesting if the GPUs had hardware dedicated to data compression and decompression. It would be incredible in tools such as deep learning where there is constantly a large volume of data in transfer. But now, Is it possible to implement it in deep learning frameworks like pytorch? I see new API direct storage features https://devblogs.microsoft.com/directx/directstorage-1-1

[2022-10-24 21:50] eschmidt-nvidia commented on #70
Hi @hsioamin.

Generally GPU decompression is less efficient unless you can provide a larger batch of data.

Where nvCOMP would be useful is if you had hundreds or thousands of such images that you could decompress in a batch. The API should take about the same amount of time, but we'd be able to hide the latency of decompressing many images behind the decompression of your first image.

Are you a

[2022-10-24 21:58] ndickson-nvidia commented on #62
Deflate, Gdeflate, and LZ4 have CPU compression provided in the binaries on Linux, and can be used as shown in the examples, as you mentioned.  You can check the examples/CMakeLists.txt to work out the dependencies.  They aren't provided in the Windows binaries at the moment.

[2022-10-24 22:19] ndickson-nvidia commented on #68
There was a cascaded selector implementation in version 2.0 and 2.1, but when the big API change was done for 2.2, it didn't get ported over.  It's come up a few times, but it's usually the case that either a good guess is known a priori what sort of configuration would be useful for a particular use case, or it's feasible to find a representative data set to compare results on with just a shell s

[2022-10-24 22:21] ndickson-nvidia commented on #68
Oh, and if you'd like tips on statically finding a good cascaded configuration for a particular use case, feel free to ask and provide a bit of info on the use case if possible, because I can give some tips.

[2022-10-24 22:32] eschmidt-nvidia commented on #65
Hi @shreer1998,

Can you help us understand why you can't split the data into many smaller chunks on the CPU? I.e. through multiple calls to the CPU compressor (possibly even with many threads?)

Note, there is no minimum batch size in the `nvcompBatchedZstdDecompressAsync` API, so you can call it with 1 chunk (up to 2 GB in size).

Unfortunately, the performance will be slow with such a single ch

[2022-10-25 02:15] hsioamin commented on #70
Hi @eschmidt-nvidia , thanks for your reply!
One thing I want to double confirm is that, the hundreds or thousands of such images you recommended to use, do you mean I should put many images together as 1 file, split it into chunks and then do compression and decompression? Or you meant I should loop compression and decompression for such images? for the latter, I've done the experiment, cudaStrea

[2022-10-25 19:52] ndickson-nvidia commented on #66
The current benchmark programs are single-GPU, though as you mention, you can specify which GPU.  The call that sets the GPU that's used by the low-level benchmarks is `cudaSetDevice` here: https://github.com/NVIDIA/nvcomp/blob/main/benchmarks/benchmark_template_chunked.cuh#L811  A good way to run nvcomp on multiple GPUs is to create a host thread corresponding with each GPU, and inside each of th

[2022-10-25 20:39] ndickson-nvidia commented on #69
The low-level benchmark programs, are primarily implemented in https://github.com/NVIDIA/nvcomp/blob/main/benchmarks/benchmark_template_chunked.cuh , with customizations for each compressor in various .cu files in the same directory, for example https://github.com/NVIDIA/nvcomp/blob/main/benchmarks/benchmark_cascaded_chunked.cu for the cascaded compressor.  The shared code gives an example of how

[2022-10-25 23:13] ndickson-nvidia commented on #57
Could you provide more info about the data you're compressing?  I put uniform randomly generated bytes into your code snippet, and I get:

[code]

I can also confirm that the address in `comp_buffer` is a multiple of 256, as `cudaMalloc` should, so shouldn't be affected by the alignment to 8 bytes (`sizeof(size_t)`).  It might be that a bug has been fixed since the version of nvcomp you were using

[2022-10-26 12:33] nsakharnykh commented on #71
hi @johnnynunez, do you have any particular use case in mind for fast compression/decompression for deep learning?

[2022-10-26 12:42] #67 closed

[2022-10-26 14:56] johnnynunez commented on #71
In the hypothetical case that all my preprocessing is done offline. Wouldn't it be possible to load the batches from the SSD in compressed form?

[2022-10-27 14:00] XLzed commented on #57
Data is generated by the code in high_level_quickstart_example.cpp. The example runs successfully on version 2.4 and 2.3.3, the output is same as what you get. And what I test before is branch-2.2, so the bug was fixed since version 2.3.
I have a question: Is the meta data of high level API changed since version 2.3? Or is nvcomp support compress on CPU and decompress on GPU by using highlevel API

[2022-10-27 16:56] ndickson-nvidia commented on #63
Upon investigating this, (and sorry for taking so long to get around to it), there's the `nvcomp::create_manager` function, declared in include/nvcomp/nvcompManagerFactory.hpp for creating an `nvcompManagerBase` for decompressing a compressed buffer using the metadata in the buffer.  If you know the data type that was used for compression, you could use the approach from test_cascaded.cpp, as abov

[2022-10-28 06:18] shreer1998 commented on #65
Hello, @eschmidt-nvidia.

Thanks for the response. I didn't have the option to tweak the CPU zstd compression into batched compression as the CPU part was frozen for some reason. Given the fact that chunk sizes can be up to 2GB, it solves my issue for now. I thought it was restricted to 64KB.

[2022-10-28 06:18] #65 closed

[2022-10-28 16:09] ndickson-nvidia commented on #57
Ah.  Good to know that it seems to be fixed.  Thanks!  I did see some changes in the `BatchManager` code since March 1st, (sorry for taking so long to reply), but didn't look too closely.

I don't think the high-level API has changed much since 2.3.  I'm not sure whether or not the metadata changed between 2.2 and 2.3.  I'm pretty sure it's not intended to be supported for users to manually add th

[2022-10-31 06:09] lilohuang opened #72 "[BUG] Need to wrap cub:: and thrust:: namespace in nvcomp namespace"
**Describe the bug**

Download **nvcomp_2.4.1_x86_64_11.x.tgz** from NVIDIA website, and dump symbols from NVCOMP shared objects with nm. I still can see a lot cub:: and thrust:: functions are not wrapped in nvcomp namespace. Please refer to https://github.com/NVIDIA/thrust/issues/1401 to recompile NVCOMP shared objects to prevent crash in CUDA 11.

e.g.
<pre>
bash-4.2$ nm -CD libnvcomp.so | grep

[2022-11-10 21:06] ndickson-nvidia commented on #72
Thanks for pointing this out and for linking to a page containing the solution!  From [the post](https://github.com/NVIDIA/thrust/issues/1401#issuecomment-882805440), it looks like it should be fairly straightforward to address, but I'll see what I can do.

[2022-11-23 09:19] zinir opened #73 "Compression size"
In high level quick start. The compressed buffer size is always larger than the original buffer. Please help. What am i missing

[2022-11-24 20:25] #73 closed